- block:
  - name: install screen packages
    package:
      name: ["screen", "curl", "git"]
      state: latest
    become: true

  - name: define .screenrc
    copy:
      src: "files/.screenrc"
      dest: "~/.screenrc"
      mode: '0644'
