- name: install packages for ZSH
  package:
    name: ["zsh", "powerline", "git", "python3-pygments"]
    state: latest
  become: true

- name: clone Oh-My-ZSH if not present
  command: "git clone -c core.autocrlf=input --depth=1 https://github.com/ohmyzsh/ohmyzsh .oh-my-zsh"
  args:
    chdir: "$HOME"
    creates: "$HOME/.oh-my-zsh"
  tags:
    # Suppress warning: [ANSIBLE0006] git used in place of git module
    # Git module doesn't allow us to set `core.autocrlf=input`.
    - skip_ansible_lint
  register: ohmyzshinstall

- name: clone powerlevel10k repo
  git:
    repo: "https://github.com/romkatv/powerlevel10k.git"
    dest: "$HOME/.oh-my-zsh/custom/themes/powerlevel10k"
  when: ohmyzshinstall is success
  register: powerlevel10krepo

- name: ensure completions and functions plugins dir
  file:
    path: "$HOME/.oh-my-zsh/{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "completions"
    - "functions"
  register: zsh_dirs
  when: ohmyzshinstall is success

- name: clone zsh-autosuggestions repo
  git:
    repo: "https://github.com/zsh-users/zsh-autosuggestions"
    dest: "$HOME/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
  when: ohmyzshinstall is success
  register: zsh_autosuggestions

- name: ensure powerlevel10k theme settings file
  copy:
    src: p10k.zsh
    dest: "$HOME/.p10k.zsh"
  when: powerlevel10krepo is success

# - name: Set the aliases list
#   set_fact:
#     ZSH_aliases:
#       - alias nullrepo='git add . && git stash && git stash drop'
#       - alias ap='ansible-playbook'
#       - alias logvault="vault login -method=userpass username=${USER}"
#       - alias ccat='pygmentize -g '
#       - alias showcert='openssl x509 -text -noout -in '
#       - alias xx='sudo -s --shell /bin/zsh'
#       - alias ..="cd .."
#       - alias ...="cd ../../"
#       - alias gtc='git add . && git commit -m "`curl -s http://whatthecommit.com/index.txt`" && git push'
#       - alias gsv='git status -vv'
#       - alias cgd='if git rev-parse --is-inside-work-tree --quiet >/dev/null 2>/dev/null; then cd $(git rev-parse --show-toplevel); else echo "Not in Git repository!"; fi'

# - name: Set the folder shortcut list
#   set_fact:
#     ZSH_folder_shortcuts:
#       - hash -d volumes=/var/lib/docker/volumes

- name: define .zshrc from template
  template:
    dest: "$HOME/.zshrc"
    src: zshrc.j2
    mode: '0664'
  when: ohmyzshinstall is success
